[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/vim-gemfile"]
	path = vim/bundle/vim-gemfile
	url = https://github.com/tobiassvn/vim-gemfile.git
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "vim/bundle/vim-project"]
	path = vim/bundle/vim-project
	url = https://github.com/shemerey/vim-project.git
[submodule "vim/bundle/searchcomplete"]
	path = vim/bundle/searchcomplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
